{% extends "layout.html" %}

{% block additonalcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block title %}
    Welcome {{ session[username][0] }} {{ session[username][1] }}
{% endblock %}

{% block body %}

    <h1>Hello {{ session[username][0] }} {{ session[username][1] }}</h1>

    <h3>You are an accountant and you want to get information about all the finance</h3>

    <form action="{{ url_for('upload_data', user=username) }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form>

    <span> 
        <table border="2px">
            <!-- adding Header rows to the table from the csv header -->
            <tr>
                <!-- We are setting the header robustly -->
                {% for i in uploadedFileHeader %}
                    <th>{{ i }}</th>
                {% endfor %}
                <th>GST/HST</th>
                <th>PST/QST</th>
                <th>PVT</th>
            </tr>
            <!-- we are checking if we received the uploaded file -->
            {% if uploadedFile is defined %}
                <!-- we are looping in the uploadedfile to get the value of each data` -->
                {% for i in uploadedFile %}
                    <form action="#">
                        <tr>
                            <!-- we are looping every record(array) of uploadedfile to get each data -->
                            {% for j in range(0, totalNumberOfFields) %}
                                <!-- adding data to the table data's -->
                                <td>{{ i[j] }}</td>
                            {% endfor %}
                            <!-- inserting GST,PST and PVT column at the end of every row to add the GST -->
                            <td><input type="text" placeholder="Enter GST/HST"></td>
                            <td><input type="text" placeholder="Enter PST/QST"></td>
                            <td><input type="text" placeholder="Enter PVT"></td>
                            <td><input type="submit"></td>
                        </tr>
                    </form>
                {% endfor %}
            {% endif %}
        </table>
    </span>
{% endblock %}
{% block additonaljs %}
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}