body{
    background-color: aqua;
}

.numberCell{
    border: 1px solid black;
    text-align: center;
}

.disappear{
    display: none;
}

input {
    width: 100%;
    box-sizing: border-box;
    display: inline;
}